@charset "UTF-8";

.bl_withdrawTB{border-top:1px solid #dedede;}
.bl_withdrawTB tr{border-bottom:1px solid #dedede;}
.bl_withdrawTB th,.bl_withdrawTB td{padding:15px;color:#777;font-size:12px;}
.bl_withdrawTB td{border-left:1px solid #dedede;}











