@charset "UTF-8";
.bl_orderView__img{width:70px;height:70px;margin-right:15px;}
.bl_orderView__btnZip{padding-left:20px;margin-left:20px;border-left:2px dashed #dedede;display:flex;flex-direction:column;justify-content:center;width:200px;}

.bl_orderCancel__total{border-top:2px dashed #dedede;margin-top:20px;padding-top:20px;}
.bl_orderCancel__ttl,.bl_orderCancel__price{color:#777;line-height:2;}














